<form action="#">
	<label for="firstName">First name:</label><br>
	<input type="text" name="firstName" value="John"><br>
	<label for="lastName">Last name:</label><br>
	<input type="text" name="lastName" value="Doe"><br>
	<label for="email">Email:</label><br>
	<input type="email" name="email" value="example@example.com"><br>
	<label for="phone">Phone:</label><br>
	<input type="tel" name="phone" value="555-555-5555"><br>
	<input type="submit" value="Submit">
</form>


